/*三大标准 （多组)OR 孙*/
a:hover{text-decoration: none;}
a:visited{text-decoration: none;}
a:active{text-decoration: none;}
.hd{position:fixed;height:40px;background-color: #474753;line-height: 40px;z-index: 10}
.hd_a_left{color:#fff;margin-left:-20px}
.hd_a_right{color:#fff;margin-right:-20px}
.nvgt{position:fixed;height:40px;background-color: #337AB7;line-height: 40px;top:0px;z-index: 10}
.srch{position:fixed;height:40px;background-color: #337AB7;line-height: 40px;top:40px;z-index: 10}
.nvgt_a_right{color:#fff;margin-right:-20px}
.bd{position: absolute;top:40px;bottom:50px;padding-left:0px;padding-right:0px}
.ft{position: fixed;height:50px;background-color: #337AB7;line-height: 50px;bottom:0px}

.infwdaptmt{position:absolute;bottom:2px;}/*inforwindow appointment*/
.nopadding{padding:0px;}
.padding-1-px{padding:1px;}
.padding-w-1-px{padding-left:1px;padding-right: 1px}
.nomargin{margin:0px;}
.txtct{text-align: center;}

