.table tr td{border:1px solid #fff;}
.blk{height: 80px;line-height: 60px;margin-top:20px;}
#nine div{padding-left:5px;padding-right:2px;}
.bd_usrct{position: absolute;top:50px;bottom:50px;padding-left:0px;padding-right:0px}